.logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo img {
  height: 40px;
  width: 40px;
}
.logo h2 {
  margin-bottom: -5px;
  color: #ffffff;
  font-size: 20px;
}
